.page-home {
  .section-first {
    background: radial-gradient(circle, #252525, #1d1d1d);

    .col {
      padding: 6rem 0;
    }
  }

  .section-posts {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
