// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Container
$container-width: 64rem;
$container-v-padding: 2rem;
$container-h-padding: 6rem;

// Colors
$accent-color: #97ff97;
$light-color: #cdcdcd;
$dark-color: #1d1d1d;

// Heights
$separator-height: 30px;
$hr-height: 1px;

// Headers
$header-heading-color: $accent-color;
$header-bg-color: $accent-color;
$header-bg-color-secondary: $dark-color;

// Text
$section-headings-color: #fff;
$body-text-color: $light-color;
$body-link-color: $accent-color;
$blockquote-text-color: rgba($light-color, .5);

// Code
$code-bg-color: #333;
$code-text-color: rgba($accent-color, 1);

// Borders
$border-color: $accent-color;
$table-border-color: #fff;
$hr-border-color: rgba(#fff, .2);
$border-radius: 0.1rem;

// Background
$body-bg-color: $dark-color;
$default-bg-color: lighten($dark-color, 6%);
$container-bg-color: $dark-color;
